name: Spec Doctor CI 파이프라인

on:
  push:
    branches: [ "develop", "main" ]

jobs:
  build-with-gradle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: JDK 21 설정
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: gradlew 실행 권한 부여
        run: chmod +x gradlew

      - name: 프로젝트 빌드
        run: ./gradlew clean build -x test

      - name: QEMU 설정
        uses: docker/setup-qemu-action@v3

      - name: Docker Buildx 설정
        uses: docker/setup-buildx-action@v3

      - name: Docker Hub 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 도커 이미지 빌드 및 푸시
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/spec-doctor-be:latest
